<!DOCTYPE html>
<html>
  <head>
    <title>喵呜词根</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>

    <%= favicon_link_tag 'favicons/favicon-144x144.png', rel: 'apple-touch-icon', type: 'image/png', size: '144x144' %>
    <%= favicon_link_tag 'favicons/favicon-180x180.png', rel: 'apple-touch-icon', type: 'image/png', size: '180x180' %>
    <%= favicon_link_tag 'favicons/favicon-32x32.png', rel: 'icon', type: 'image/png', size: '32x32' %>
    <%= favicon_link_tag 'favicons/favicon-64x64.png', rel: 'icon', type: 'image/png', size: '64x64' %>
    <%= favicon_link_tag 'favicons/favicon-16x16.png', rel: 'icon', type: 'image/png', size: '16x16' %>

    <%= javascript_include_tag 'application'  %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

    <div class="footer">
      <span>Weibo: <%= link_to '@hegwin', 'https://weibo.com/hegwin', target: '_blank' %></span>
      <span><%= link_to '鄂ICP备13013177号-2', 'http://www.beian.miit.gov.cn', target: '_blank' %></span>
    </div>
  </body>
</html>
